<div class="tabs-container">
  
  <div class="tabs-header">
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'equipos'"
      (click)="setActiveTab('equipos')">
      Equipos
    </button>
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'hojas-vida'"
      (click)="setActiveTab('hojas-vida')">
      Hojas de Vida
    </button>
  </div>
<br>
  <div class="tab-content">
    @if (activeTab === 'equipos') {
      <app-equipos></app-equipos>
    }
    @if (activeTab === 'hojas-vida') {
      <app-hojas-vida></app-hojas-vida>
    }
  </div>
  <br>
</div>
